<md-content class="md-padding cen" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme-watch>
            <md-toolbar style="margin-left:0px;">
                <div class="md-toolbar-tools">
                    <md-truncate> Login</md-truncate>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-content class="md-no-momentum md-padding">
                <md-input-container class="md-block">
                    <!-- Use floating placeholder instead of label -->
                    <md-icon md-svg-icon="call:email" md-menu-align-target></md-icon>
                    <input ng-model="user.Email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label></label>
                    <md-icon md-svg-icon="call:vpn-key" md-menu-align-target></md-icon>
                    <input ng-model="user.Password" type="password" placeholder="Password (required)" ng-required="true">
                </md-input-container>
            </md-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Forgot Password</md-button>
                <span flex></span>
                <md-button ng-click="$ctrl.login($event)">Login</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>