<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon md-svg-icon="action:assessment"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">First/Main Component</span>
            <span class="md-subhead">A sample card</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <a href="https://material.angularjs.org">
                <img src="assets/svg/angular-logo.svg" style="width:200px;height:200px" />
            </a>
                <h2>AngularJS Material</h2>
           
        </md-card-title-text>
    </md-card-title>
    <md-card-actions>
        <md-button class="md-button" ng-click="$ctrl.sendSimpleNotification()">
            Send Desktop Notification
        </md-button>
    </md-card-actions>
</md-card>