<h1>Theme builder</h1>
<h2>Pick two colors</h2>
<md-button class="md-fab md-primary" ng-click="save()" aria-label="Save Colors">
    <md-icon md-svg-src="content:save"></md-icon>
</md-button>
<span class="md-raised md-warn md-ink-ripple">{{warning}}</span>
<div>
    <md-card ng-click="setDesignation(color.name)" style="width:120px;height:100px;display:inline-block" 
              ng-repeat="color in colors">
    <md-card-header>
{{color.name}}
    </md-card-header>
    <md-card-content  ng-style="myStyle={'background-color': color.color }">
        {{color.designation}}
    </md-card-content>
    </md-card>
</div>

