<style>
    .menudemoBasicUsage .md-menu-demo {
        padding: 24px;
    }

    .menudemoBasicUsage .menu-demo-container {
        min-height: 200px;
    }
</style>
<md-toolbar class="md-hue-2" >
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggleToolbar('left')">
            <md-icon md-svg-icon="navigation:menu" style="color:white"></md-icon>
        </md-button>
        <h2 flex md-truncate>
            <a href="#" ng-click="$ctrl.navigateTo('/first')"> Angular Material App</a>
            <i> </i> : a starter template
        </h2>
        <md-button class="md-icon-button" ng-click="$ctrl.toggleToolbar('right')" aria-label="Notifications">
            <md-icon md-svg-icon="social:notifications" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-menu>
            <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
                <md-icon md-svg-icon="action:account_circle"></md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('/login')">
                        <md-icon md-svg-icon="social:person" md-menu-align-target></md-icon>
                        Login
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.logOff($event)">
                        <md-icon md-svg-icon="call:vpn-key" md-menu-align-target></md-icon>
                        Log off
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('/themepicker')">
                        <md-icon md-svg-icon="image:color_lens" md-menu-align-target></md-icon>
                        Change Theme
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="$ctrl.toggleNotifications()">
                        <md-icon md-svg-icon="social:notifications-{{$ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                        {{$ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>