<md-sidenav ng-click="$ctrl.toggleMainMenu()" md-component-id="left" class="md-whiteframe-z2">
    <md-list>
        <md-subheader class="md-no-sticky">
            <md-icon md-svg-icon="action:grade"></md-icon>
            SAMPLE PAGES
        </md-subheader>
        <md-list-item ng-click="$ctrl.navigateTo('/first', $event)">
            <p> FIRST </p>
        </md-list-item>
        <md-list-item ng-click="$ctrl.navigateTo('/second', $event)">
            <p>SECOND</p>
        </md-list-item>
    </md-list>
</md-sidenav>