<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Notifications</h1>
    </md-toolbar>
    <md-content  layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Search</label>
                <md-icon md-svg-src="action:search" class="name"></md-icon>
                <input type="text" md-search id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">Unread</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.who }}</h3>
                        <h4>{{ item.what }}</h4>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-button ng-click="$ctrl.toggleMainMenu()" class="md-primary">
                    <md-icon md-svg-src="navigation:close" class="name"></md-icon>
                    Close
                </md-button>
        </md-content>

</md-sidenav>