<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon md-svg-icon="action:assessment"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">Second Component</span>
            <span class="md-subhead">A sample card</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <a href="https://www.imdb.com/title/tt0133093/">
                <img src="assets/img/black_cat.png" style="width:200px;height:200px" />
            </a>
            <h2>Whoa! Déjà Vu</h2>
            This is the Second Component
        </md-card-title-text>
    </md-card-title>
    <md-card-actions>
    </md-card-actions>
</md-card>